{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "targets": "> 0.25%, not dead"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["import", { "libraryName": "antd-mobile", "style": "css" }]
  ]
}